{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row" style="background-color: cadetblue; padding-bottom: 50px">
            <div style="padding: 20px" class="col-md-6 gy-5">
                <div class="card">
                    <img src ="{% static 'images/Fir_products_on_grass.png' %}" alt="Fir Image" height="500">
                </div>
            </div>
            <div class="col-md-6" style="margin-top: 50px; padding: 20px">
                <h3>Welcome to Fir!</h3>
                <br>                
                <p>Fir is more than just a project—it's a passion for presenting original, handcrafted products that resonate with authenticity and craftsmanship. Dedication lies in curating a collection that embodies the essence of artisanal excellence, each piece crafted with care and creativity.</p>
                <br>
                <p>Step into the gallery page, where you'll embark on a visual journey through the meticulously curated selection. Immerse yourself in the variety of handmade creations, intricate textiles and carefully picked colors. Each item tells a story of artistic vision.</p>
                <p>Have questions or feedback? All are welcomed. Don't be a stranger, feel free to utilize the contact page. Your input is invaluable as it can support the growth and refining of this collection.</p>
                <br>
                <p>Thank you for choosing Fir as your destination for handmade inspiration. Let's celebrate craftsmanship together.</p>
                <br>
                <p>Warm regards,</p>
                <p>Laura Tudor</p>                
            </div>
            <div class="col-md-12" style="text-align: center; margin-top: 30px">
                <a href="{% url 'subscribe' %}"><button type="button" class="btn btn-secondary">For staying up to date - subscribe/unsubscribe</button></a> 
            </div>
        </div>
    </div>
{% endblock %}