{% extends 'base.html' %}
{% load static %}
{% block title %} About {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row" style="background-color: cadetblue; padding-bottom: 50px">
            <div class="col-md-12">
                <h1 class="text-center">Welcome! More details soon... </h1>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                 <img src ="{% static 'images/Fir_products_on_grass.png' %}" alt="Fir Image" height="500">
            </div>
        </div>
    </div>
{% endblock %}