{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row" style="background-color: cadetblue; padding-bottom: 50px">
            <div class="col-md-12">
                <br>
                <h1 class="text-center">Fir by Laura Tudor</h1>                
                <p style="text-align: center">Explore a delightful assortment of unique handmade creations</p>
           
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <a href="{% url 'gallery_page' %}"> <img src ="{% static 'images/Fir.jpg' %}" alt="Fir Image" height="500"> </a>
            </div>
        </div>

    </div>
{% endblock %}