{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row" style="background-color: cadetblue; padding-bottom: 50px">
            <div class="col-md-12">
                <h1 class="text-center">Welcome to Fir! This is under construction... </h1>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                 <img src ="{% static 'images/Fir.jpg' %}" alt="Fir Image" height="500">
            </div>
        </div>

    </div>
{% endblock %}