{% extends 'base.html' %}
{% load static %}
{% block title %} Home {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row" style="background-color: cadetblue; padding-bottom: 50px">
            <div class="col-md-12">
                <h1 class="text-center">Fir by Laura Tudor</h1>
                <p style="text-align: center">Explore a delightful assortment of unique handmade creations</p>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                 <img src ="{% static 'images/Fir.jpg' %}" alt="Fir Image" height="500">
            </div>
        </div>

    </div>
{% endblock %}