{% extends 'base.html' %}
{% load static %}
{% block title %} Sent {% endblock %}

{% block content %} 
    <div class="container-fluid">
        <div class="row" style="background-color: cadetblue; padding-bottom: 25px; text-align: center">      
            <h3 style="margin-top: 30px">Your message has been sent!</h3>
            <p style="margin-top: 30px">Thank you for contacting Fir! You will be receiving a reply as soon as it is possible.</p>
        </div>        
    </div>
{% endblock %}